#! /bin/sh
set -e
# Must be a valid filename
NAME=applicationd
PIDFILE=/var/run/$NAME.pid
DAEMON=/opt/application/bootstrap.py
DAEMON_OPTS="8000"

export PATH="${PATH:+$PATH:}/usr/sbin:/sbin"
export HOST_IP="{{ ansible_eth1.ipv4.address }}"

case "$1" in
  start)
        echo -n "Starting daemon: "$NAME
        start-stop-daemon --make-pidfile --background --start --pidfile $PIDFILE --exec $DAEMON -- $DAEMON_OPTS
        echo "."
        ;;
  stop)
        echo -n "Stopping daemon: "$NAME
        start-stop-daemon --stop --oknodo --pidfile $PIDFILE
        echo "."
        ;;
  restart)
        echo -n "Restarting daemon: "$NAME
        start-stop-daemon --stop  --oknodo --retry 30 --pidfile $PIDFILE
        start-stop-daemon --make-pidfile --background --start --pidfile $PIDFILE --exec $DAEMON -- $DAEMON_OPTS
        echo "."
        ;;

  *)
        echo "Usage: "$1" {start|stop|restart}"
        exit 1
esac

exit 0