---
- name: Create DB
  mysql_db: 
    name: tech_test 
    state: present
- name: Create DB user and grant permission
  mysql_user:
    name: db_manager
    password: 'passw0rd'
    host: "{{ item.host }}"
    priv: 'tech_test.*:ALL,GRANT' 
    state: present
  with_items:
    - { host: '10.100.0.100'}
    - { host: '10.100.0.102'}
    - { host: '10.100.0.103'}
